[Desktop Entry]
Name=bwzy
Categories=ConsoleOnly;
GenericName=Bitwarden Fuzzy
Comment=Terminal MUA using notmuch mail
Exec=kitty -T 'bwzy' --detach bwzy
Terminal=false
Icon=bitwarden
Type=Application
